/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
  line-height: 1.6;
  padding: 0;
  background-image: url('../images/grid-100.png');
  background-size: auto;
}

h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h3 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h4 {
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h5 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.wrapper {
  max-width: 80%;
  min-width: 480px;
  margin-inline: auto;
  border: 1px solid black;
  background-color: rgba(0,0,0,.2);
}

div.wrap-row {
  width: 100%;
}


div.container {
  max-width: 80%;
  margin-inline: auto;
  /* border: 1px solid lime; */
}

/* Header */
header {
  min-height:115px;
}

.angle-bg {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="white"/></svg>');
  --element-width: 10%;
  background-size: var(--element-width);
  background-repeat: no-repeat;
  background-position: bottom left; /* Position background on bottom left corner */
}
.angle-bg.blue {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="blue"/></svg>');
}
.angle-bg.red {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="red"/></svg>');
}
.angle-bg.green {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="green"/></svg>');
}
.angle-bg.gray {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="rgb(120,120,120)"/></svg>');
}


/* Hero */
#hero {
  background-color: rgba(220,0,220,.3);
}
#hero .container section.hero {
  min-height: 500px;
  background-color: rgba(60,0,60,.2);
}

/* Ordered List */
#ordered-list {
  background-color: rgba(0,220,220,.3);
}
#ordered-list .container section {
  background-color: rgba(0,60,60,.3);
}

/* look into subgrids https://www.reddit.com/r/css/comments/1espuk7/aligning_unordered_lists_horizontally/ */
.process-list {
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.process-list li {
  display: block; /* Display list items as block */
  font-size: 1rem; /* Relative size */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="180" height="180"><circle cx="90" cy="90" r="80" fill="blue"/></svg>'); /* SVG as background */
  background-size: 80px 80px; /* Set size of the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  padding-left: 80px; /* Space for the image */
  margin-bottom: 1rem; /* Space between items */
  border: 1px dashed red;
}

/* Desktop displays */
@media (min-width: 768px) {
  .process-list li {
    display: inline-block; /* Align in order on desktop */
    width: calc((80% / 3) - 1rem); /* Equal division of the parent container */
    margin-right: 1rem; /* Space between items */
  }
}

/* Mobile displays */
@media (max-width: 767px) {
  .process-list li {
    display: block; /* Stack in order on mobile */
    margin-bottom: 1rem; /* Space between items */
  }
}

/* Pitch */

#pitch {
  background-color: rgba(220,220,0,.3);
}
#pitch .container section {
  background-color: rgba(60,60,0,.3);
}

/* Services */
#services {
  background-color: rgba(220,0,0,.3);
}
#services .container section {
  background-color: rgba(60,0,0,.3);
}

/* Services - Cards section */
.grid-container {
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}
.card.grid {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1em;
}

/* Contact */
#contact {
  background-color: rgba(0,0,220,.3);
}
#contact .container section {
  background-color: rgba(0,0,60,.3);
}

/* Footer */
#footer {
  background-color: rgba(120,120,120,1);
}
#footer .container section {
  background-color: rgba(60,60,60,.3);
}
